    <div class="login-page" ng-controller="controlLogin">
        <div class="form" action="/" id="myLogin">
            <form class="login-form">
                <input type="text" placeholder="C.I" name="ciUsuario" id="ciUsuario" ng-model="ciUsuario" />
                <input type="password" placeholder="Contrasena" name="passUsuario" id="passUsuario" ng-model="passUsuario" />
                <button ng-click="submit()">Login</button>
                <p class="message">Debe estar registrado para ver el contenido</p>
            </form>
        </div>
    </div>

